<!-- Education Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education</h2>
                    <h3 class="section-subheading text-muted">I am an electrical engineer and a self-taught avid programmer.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/education/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Since 2015</h4>
                                    <h4 class="subheading">Postdoctoral Scholar</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">University of California, Los Angeles (UCLA)</p>
                                    <p class="text-muted">Data analytics and machine learning</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/education/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2014</h4>
                                    <h4 class="subheading">Ph.D. in Electrical Engineering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">University of California, Los Angeles (UCLA)</p>
                                    <p class="text-muted">Imaging, sensing, and signal processing</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/education/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2008</h4>
                                    <h4 class="subheading">M.Sc. in Electrical Engineering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">University of Tehran</p>
                                    <p class="text-muted">Photonics and electromagnetics</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/education/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2002-2006</h4>
                                    <h4 class="subheading">B.Sc. in Electrical Engineering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">University of Tehran</p>
                                    <p class="text-muted">Telecommunications</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Ata's
                                    <br>journey
                                    <br>starts!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
