<!-- Skills Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">I have 6+ years of experience measuring and analyzing real-world signals.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-stethoscope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="skill-heading">Data Acquisition</h4>
                    <p class="text-muted">Capturing images with cameras, recording time series with sensors, and transferring data to databases with data links.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-area-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="skill-heading">Signal Processing</h4>
                    <p class="text-muted">Analyzing signals in Matlab and Simulink for detection and extraction of features.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="skill-heading">Machine Learning</h4>
                    <p class="text-muted">Using Torch for regression and classification.</p>
                </div>
            </div>
        </div>
    </section>